#Regular Expression (RegExp)

In [ ]:
import re

In [ ]:
#Mencari data menggunakan RegExp
re.match(r'\b\w{5}\b', 'Andri and Fatia')

#Mencari tahu huruf dari 'Andri dan Fatia' yang mengandung 5 kata
#Tapi kan Fatia juga 5 huruf? Karna fungsi match hanya mengembalikan nilai yang pertama kali muncul

In [ ]:
#Mencari data menggunakan RegExp
re.search(r'\b\w{5}\b', 'Andri and Fatia')

#Mencari tahu huruf dari 'Andri dan Fatia' yang mengandung 5 kata
#Tapi kan Fatia juga 5 huruf? Karna fungsi search hanya mengembalikan nilai yang pertama kali muncul

In [ ]:
#Mencari data menggunakan RegExp
re.findall(r'\b\w{5}\b', 'Andri and Fatia')

['Andri', 'Fatia']

In [ ]:
#Replace Data
S = "User's mobile number is 1234567890"

S_hide = re.sub('\d', '*', S) #Mengganti data angka (\d) dengan bintang yang ada di S
print(S_hide)

User's mobile number is **********

In [ ]:
#Data Validator
user_name = input("Please enter your name: ")

while not re.match("^[A-Za-z]+$", user_name):
  print("Error! Make sure you only use letters in your name")
  user_name = input("Please enter your name: ")

print("Hello!" + user_name)

Please enter your name: 1
Error! Make sure you only use letters in your name
Please enter your name: Ifan
Hello!Ifan

##Fuzzy Wuzzy

In [ ]:
 pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
from fuzzywuzzy import fuzz

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
text1 = 'The quick brown forx jumps over the lazy dogs'
text2 = 'The quick brown forx jumps over the lazy dogs.'

similarity = fuzz.partial_ratio(text1,text2)
print(similarity)

100

In [ ]:
str1 = "My name is Ali"
str2 = "Ali is my name"

Ratio = fuzz.ratio(str1,str2)
print(Ratio)

43

In [ ]:
Str1 = "My name is Ali"
Str2 = "My name is Ali Abdaal"

print(fuzz.partial_ratio(Str1,Str2))

100

In [ ]:
str1 = "My name is Ali"
str2 = "Ali is my name"

print(fuzz.token_sort_ratio(str1,str2))

#Melihat kata dari setiap token, dan data tidak harus berurutan

100

In [ ]:
str1 = "My name is Ali"
str2 = "Ali is my name name"

print(fuzz.token_sort_ratio(str1,str2))
print(fuzz.token_set_ratio(str1,str2))

85
100

In [ ]:
str_A = 'Read the sentence - My name is Ali'
str_B = 'My name is Ali'

ratio = fuzz.token_set_ratio(str_A, str_B)
print(ratio)

100

In [ ]:
from fuzzywuzzy import process
query = 'My name is Ali'
choices = ['My name Ali', 'My name is Ali', 'My Ali']

process.extract(query, choices)

[('My name is Ali', 100), ('My name Ali', 95), ('My Ali', 86)]

#Pada sebuah data Frame

In [ ]:
import pandas as pd

#Membuat dataframe
dict_one = {
    "country" : ["England", "Scotland", "Wales", "United Kingdom", "Northern Ireland"],
    "poppulation_in_million" : [55.98, 5.45, 3.14, 67.33, 1.89]
}
dict_two = {
    "country" : ["Northern Iland", "Wles", "Scotlnd", "Englnd", "United K."],
    "GDP_per_capita" : [24900, 23882, 37460, 45101, 46510.28]
}

existing_data = pd.DataFrame(dict_one)
exported_data = pd.DataFrame(dict_two)

print(existing_data, exported_data, sep="\n\n")

            country  poppulation_in_million
0           England                   55.98
1          Scotland                    5.45
2             Wales                    3.14
3    United Kingdom                   67.33
4  Northern Ireland                    1.89

          country  GDP_per_capita
0  Northern Iland        24900.00
1            Wles        23882.00
2         Scotlnd        37460.00
3          Englnd        45101.00
4       United K.        46510.28

In [ ]:
data = pd.merge(existing_data, exported_data, on="country", how="left")
print(data.head())

            country  poppulation_in_million  GDP_per_capita
0           England                   55.98             NaN
1          Scotland                    5.45             NaN
2             Wales                    3.14             NaN
3    United Kingdom                   67.33             NaN
4  Northern Ireland                    1.89             NaN

In [ ]:
#Rename the misspelled columns
exported_data["country"] = exported_data["country"].apply(
    lambda x: process.extractOne(x, existing_data["country"], scorer = fuzz.partial_ratio)[0]
)

#Attempt to join the two dataframe
data = pd.merge(existing_data, exported_data, on="country", how="left")
print(data.head())

            country  poppulation_in_million  GDP_per_capita
0           England                   55.98        45101.00
1          Scotland                    5.45        37460.00
2             Wales                    3.14        23882.00
3    United Kingdom                   67.33        46510.28
4  Northern Ireland                    1.89        24900.00

#Sentimen Analysis

In [ ]:
from textblob import TextBlob

text_1 = "The movie was so awesome"
text_2 = "The food here tastes terrible"

#Determining the polarity
p_1 = TextBlob(text_1).sentiment.polarity
p_2 = TextBlob(text_2).sentiment.polarity

#Determining the Subjectivity
s_1 = TextBlob(text_1).sentiment.subjectivity
s_2 = TextBlob(text_2).sentiment.subjectivity

print("Polarity of Text 1 is:", p_1)
print("Polarity of Text 2 is:", p_2)
print()
print("Subjectivity of text 1 is:", s_1)
print("Subjectivity of text 2 is:", s_2)

Polarity of Text 1 is: 1.0
Polarity of Text 2 is: -1.0

Subjectivity of text 1 is: 1.0
Subjectivity of text 2 is: 1.0

In [ ]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata (572 bytes)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vaderSentiment) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2024.8.30)
Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 kB 2.7 MB/s eta 0:00:00
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sentiment = SentimentIntensityAnalyzer()
text_1 = "The book was a perfect balance between writing style and plot."
text_2 = "The pizza tastes terrible"

sent_1 = sentiment.polarity_scores(text_1)
sent_2 = sentiment.polarity_scores(text_2)
print("Sentimen of text 1: ", sent_1)
print()
print("Sentimen of text 2: ", sent_2)

Sentimen of text 1:  {'neg': 0.0, 'neu': 0.73, 'pos': 0.27, 'compound': 0.5719}

Sentimen of text 2:  {'neg': 0.508, 'neu': 0.492, 'pos': 0.0, 'compound': -0.4767}

# Name Entity Recognition (NER)

In [ ]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [ ]:
raw_text = "The Indian Space Research Organization or is the national space agency of India, headquartered in Bengaluru. It operates under Department of Space which is directily"

In [ ]:
raw_text2 = "The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched intro orbit on 5 November"

In [ ]:
text1 = NER(raw_text)
text1

The Indian Space Research Organization or is the national space agency of India, headquartered in Bengaluru. It operates under Department of Space which is directily

In [ ]:
text2 = NER(raw_text2)
text2

The Mars orbiter Mission (MOM), informally known as Mangalyaan, was launched intro orbit on 5 November

In [ ]:
for word in text1.ents:
  print(word.text, word.label_)

The Indian Space Research Organization ORG
India GPE
Bengaluru GPE
Department of Space ORG

In [ ]:
for word in text2.ents:
  print(word.text, word.label_)

Mars LOC
Mangalyaan PERSON
intro ORG
5 November DATE

In [ ]:
displacy.render(text2, style="ent", jupyter=True)

Mengelompokkan mana daerah, mana nama orang, wilayah, tanggal